#editAccount
	#userInfo
		#editfName
			label(for = "firstName") First Name
			input#firstName(ng-model = "form.firstName")

		#editlName
			label(for = "lastName") Last Name
			input#lastName(ng-model = "form.lastName")

		#email-container
			label(for = "email") Email
			input#email(ng-model = "form.email")

		#bio-container
			label(for = "bio") Bio
			textarea#bio(ng-model = "form.bio")

		#formButtons
			button#submit(ng-click="submit()") Submit
			button#back(ng-click="back()") Back

	label(for = "profilePicture") Profile Picture
	#profilePicture
		img(ng-src="{{form.picture}}")
	input#pictureUpload(type = "file")

	