!!!
html(ng-app="plpApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Personal Learning Platform
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/angular-ui/angular-ui.css')
  body
    block body